.main__messages__list
  %p.main__messages__list__name yamamoto
  %p.main__messages__list__date 2018/08/07 11:25
  %p.main__messages__list__content テストメッセージ
.main__messages__list
  %p.main__messages__list__name yamamoto
  %p.main__messages__list__date 2018/08/08 12:00
  %p.main__messages__list__content test
