.side-bar__group__test
  = link_to "#" do
    .side-bar__group__test__name
      %p テストグループ
    .side-bar__group__test__message
      %p テストメッセージ
.side-bar__group__sample
  = link_to "#" do
    .side-bar__group__sample__name
      %p サンプルグループ
    .side-bar__group__sample__message
      %p サンプルメッセージ
