.main__top {
  height: 100px;
  padding: 0 40px;
  width: calc(100vw - 380px);
  border-bottom: solid 1px #eeeeee;
  z-index: 2;
  background-color: white;
  &__left {
    float: left;
    &__title {
      padding: 35px 0 15px 0;
      font-size: 20px;
      color: #333333;
    }
    &__members {
      font-size: 12px;
      color: $gray-color;
    }
  }
  &__right {
    float: right;
    margin-top: 28px;
    &__btn {
      color: $light-blue;
      border: solid 2px $light-blue;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      float: right;
      padding: 0 20px 0;
    }
  }
}
.main__messages {
  padding: 0 40px;
  height: calc(100vh - 190px);
  // margin-top: 146px;
  z-index: 1;
  overflow: auto;
  &__list {
    &__name {
      font-size: 16px;
      float: left;
      font-weight: bold;
      color: $main-font-color;
      padding-right: 10px;

    }
    &__date {
      font-size: 12px;
      color: $gray-color;
      float: left;
      line-height: 24px;

    }
    &__content {
      clear: both;
      font-size: 14px;
      color: $main-font-color;
      padding: 10px 0 40px;
    }
  }
}
.main__form {
  height: 90px;
  width: calc(100vw - 300px);
  position: absolute;
  background-color: #AAAAAA;
  bottom: 0;
  // position: fixed;
  &__area {
    margin: 20px 40px;
    &__text {
      font-size: 16px;
      color: $main-font-color;
      float: left;
      height: 50px;
      width: calc(100% - 25px - 70px - 50px);
      border: none;
      padding-left: 10px;
    }
    &__img {
      float: left;
      margin-right: 15px;
      height: 50px;
      width: 50px;
      background-color: white;
      border: none;
      &__icon {
        color: black;
        text-align: center;
        line-height: 50px;
      }
      &__hidden{
        display: none;
        float: right;
      }
    }
    &__btn {
      height: 50px;
      width: 70px;
      color: white;
      background-color: $light-blue;
      float: left;
    }
  }
}
